@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap');
:root{
    --aqua: aqua;
}
.wallpaper{
    /* background: url('../images/Wallpaper1.jpg'); */
    background: hsl(204 100% 5%);
    width:100vw;
    height:100vh;
    animation-duration:5s;
    animation-name:changeBackground;
    animation-iteration-count: 1;
    text-align:center;
}

.gradient{
    position:relative;
    top:90px;
    background: linear-gradient(270deg, #ff0000, #0006a2);
    background-size: 400% 400%;
    animation: AnimationTitle 5s ease infinite;
  -webkit-background-clip: text;
    background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title1{
    font-family: 'Tourney', cursive;
    font-size:75px;
}
.title2{
    font-family: 'Teko', sans-serif;
    font-size:50px;
    color: white;
    position:relative;
    top:100px;
}
.neon{
    font-size:4rem;
    text-decoration:none !important;
    font-family: 'Teko', sans-serif;
    position:relative;
    top:220px;
    left:41.75%;
    display:block;
    cursor:pointer;
    text-decoration:none;
    color:var(--aqua);
    border:var(--aqua) 0.125em solid;
    width:200px;
    padding:0,25em 0.5em;
    border-radius:0.25em;

    text-shadow:0 0 0.125em hsl(204 100% 5%), 0 0 0.5em currentColor ;
    box-shadow: 0 0 0.5em 0 var(--aqua), 0 0 0.5em  0 var(--aqua);

    transition: background-color 0.5s linear;
}
link:link{
    text-decoration:none;
}
.neon::before{
    content:'';
    pointer-events:none;
    position:absolute;
    background:var(--aqua);
    top:120%;
    left:0;
    width:100%;
    height: 100%;

    transform:perspective(1em) rotateX(40deg) scale(1,0.35);
    filter:blur(1em);
 }
 .neon::after{
     content:'';
     position:absolute;
     top:0;
     bottom:0;
     left:0;
     right:0;
     box-shadow: 0 0 2em 0.5em var(--aqua);
     background-color: var(--aqua);
     z-index:-1;
     opacity:0;
     transition: opacity 0.5s linear;
}
 .neon:hover{
     background:var(--aqua);
     color:black;
     text-shadow:none;
 }
.neon:hover::after{
    opacity:1;
}

.start-henry{
    position:relative;
    width:100px;
    height:100px;
    left:25px;
    bottom:20px;
    z-index:100;
}
.henry-font{
    font-family: 'Work Sans', sans-serif;
    color:white;
    position: relative;
    bottom:70px;
    left:10px;
}
@keyframes changeBackground {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

@keyframes AnimationTitle {
    0%{background-position:0% 31%}
    50%{background-position:100% 70%}
    100%{background-position:0% 31%}
}